.nav-item{
font-family: Inter;
font-weight: 600;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
color: #535862;

}
.navbar-brand{
    font-family: Inter;
font-weight: 700;
font-style: Italic;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
color: #000000;
}
.nav-item{
    font-family: Inter;
font-weight: 600;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
color: #535862;
margin-left: 8px;

}
#register{
    display: inline-block;
    background-color: #7F56D9;
    border-radius: 8px;
    padding: 8px;
    box-shadow: #0A0D120D;
    color: #fff;
    
}