<footer class="pt-5">
  <div class="container">
     <!-- Top Row -->
    <div class="row">
      <div class="col-6 col-sm-6 col-md-3 mb-3">
        <h6>Product</h6>
        <ul class="list-unstyled">
          <li><a>Overview</a></li>
          <li><a>Features</a></li>
          <li><a>Solutions <span class="badge ms-2">New</span></a></li>
          <li><a>Tutorials</a></li>
          <li><a>Pricing</a></li>
          <li><a>Releases</a></li>
        </ul>
      </div>
      <div class="col-6 col-sm-6 col-md-3 mb-3">
        <h6>Company</h6>
        <ul class="list-unstyled">
          <li><a>About us</a></li>
          <li><a>Careers</a></li>
          <li><a>Press</a></li>
          <li><a>News</a></li>
          <li><a>Media kit</a></li>
          <li><a>Contact</a></li>
        </ul>
      </div>
      <div class="col-6 col-sm-6 col-md-3 mb-3">
        <h6>Resources</h6>
        <ul class="list-unstyled">
          <li><a>Blog</a></li>
          <li><a>Newsletter</a></li>
          <li><a>Events</a></li>
          <li><a>Help centre</a></li>
          <li><a>Tutorials</a></li>
          <li><a>Support</a></li>
        </ul>
      </div>
      <div class="col-6 col-sm-6 col-md-3 mb-3">
        <h6>Legal</h6>
        <ul class="list-unstyled">
          <li><a>Terms</a></li>
          <li><a>Privacy</a></li>
          <li><a>Cookies</a></li>
          <li><a>Licenses</a></li>
          <li><a>Settings</a></li>
          <li><a>Contact</a></li>
        </ul>
      </div>
    </div>
    <!-- Bottom Row -->
    <div class="footer-logo pt-4 mt-4 border-top">
      <a class="d-flex align-items-center text-decoration-none">
        <img src="assets/Logomark.png" alt="logo" width="30" class="me-2">
        <span class="heading-bottom">Crowdfund</span>
      </a>
      <span class="copy-right">&copy; 2077 Crowdfund. All rights reserved.</span>
    </div>
  </div>
</footer>
